<link rel="stylesheet" href="/static/css/facebox-1.3.css" type="text/css" media="screen, projection" />
<script type="text/javascript" src="/static/js/facebox-1.3.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox({
    opacity      : 1.0,
    loadingImage : '/static/img/facebox-1.3/loading.gif',
    closeImage   : '/static/img/facebox-1.3/closelabel.png',
    faceboxHtml  : '<div id="facebox" style="display:none;"><div class="popup"><div class="content"></div><a href="#" class="close"><img src="/static/img/facebox-1.3/closelabel.png" title="close" class="close_image" /></a></div></div>'
  });
});
</script>
