{% extends "base.html" %}

{% block head-title %}Series - {{ block.super }}{% endblock %}
{% block head-description %}A list of series.{% endblock %}

{% block content %}

<table>
{% if pager %}
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Date</th>
  </tr>
  {% for series in pager %}
  <tr>
    <td><a href="{{ series.url }}">{{ series }}</a></td>
    <td>{{ series.summary|default_if_none:"" }}</td>
    <td>{{ series.created_date|timesince }}</td>
  </tr>
  {% endfor %}
  </table>
  {% include "snippets/pager_navigation.html" %}
{% else %}
<p>No series found.</p>
{% endif %}

{% endblock %}
