{% extends "base.html" %}

{% block head-title %}{{ series }} - {{ block.super }}{% endblock %}
{% block head %}{{ block.super }}{% include "snippets/head_popup.html" %}{% endblock %}

{% block content %}

<h2>{{ series.name }}</h2>

{% if series.about %}<p id="about">{{ series.about }}</p>{% endif %}

{% if talks %}
  <table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Presenter(s)</th>
    <th>Date</th>
  </tr>
    {% for talk in talks %}
    <tr>
      <td><a href="{{ talk.url }}">{{ talk }}</a></td>
      <td><a href="{{ talk.url }}/embed" rel="facebox">Play</a></td>
      <td>{{ talk.presenters|join:", " }}</td>
      <td>{{ talk.created_date|timesince }}</td>
    </tr>
    {% endfor %}
  </ul>
{% else %}
  <p>There are no talks in this series.</p>
{% endif %}

{% endblock %}
